body {
    background: beige;
}
h1 {
    font-size:2em;
    margin-left: 2%;
}
form {
    width: 18%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
input {
    margin: 1%;
}
button {
    margin: auto;
    width: 40%;
}
li {
    display: inline-block;
    margin-left: 2%;
}

.user_list {
    display: inline-block;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.user_item {
    border: brown solid 2px;
    margin: 0.5%;
}